* { background-color: beige;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 1.3em;
}

h1 {color: green;
    font-style: bold;
}

.form-control {
    font-size: 1.3em;
}

a.btn {
    font-size: 0.5em;
}