<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dylan Eckstein</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <!-- I put my javascript here because beforehand it would take a minute to load in all of bootstrap before
        my script could do anything. Now my js is instant-->
        <script src="js/main.js"></script>
    </head>

    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <p id="myname">Dylan Eckstein</p>
          </div>
          <div class="col-md-1">
            <p class="navbutton"><a class="btn btn-lg" href="/index" role="button">About &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <p class="navbutton"><a class="btn btn-lg" href="/calc" role="button">Pokemon Go Evolution Calculator &raquo;</a></p>
          </div>
          <div class="col-md-2">
            <p class="navbutton"><a class="btn btn-lg" href="/contact" role="button">Contact &raquo;</a></p>
          </div>
          <div class="col-md-2">
            <p class="navbutton"><a class="btn btn-lg" href="/gbindex" role="button">Guestbook &raquo;</a></p>
          </div>
        </div>
      </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Pokemon Go Evolution Calculator</h2><br>
        <p>In the mobile game Pokemon Go, players can gain xp by spending candy to evolve Pokemon. Each evolution gives 500xp.
            However, some pokemon require less candy to evolve. Players choose to farm these Pokemon to level up faster. This calculator
            will calculate how much experience you will recieve if you perform a mass evolution. It will also show whether you have a
            surplus of candy or of the Pokemon specified.
        </p>
        <img id="pogo" src="pics/pogo.png" alt="Pokemon Go">
        <p class="formtext">Pokemon</p>
        <select name="pokemon" id="pokeselect">
            <option value="Pidgey">Pidgey</option>
            <option value="Weedle">Weedle</option>
            <option value="Wurple">Wurmple</option>
          </select><br><br>
        <p class="formtext">Candy Amount</p>
        <input type="text" id="candyinput"><br><br>
        <p class="formtext">Number of Pokemon</p>
        <input type="text" id=pokeinput><br><br>
        <input type="button" id="formbutton" onclick="App.launch()" value="Submit"><br><br>
        <p id=resultText></p>
      </div>
    </div>
      <hr>
      <footer>
        <p>&copy; Dylan Eckstein 2018</p>
      </footer>
<!-- /container -->        
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script> -->
    </body>
</html>