<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dylan Eckstein</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="pics/apple-touch-icon.png">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p id="myname">Dylan Eckstein</p>
              </div>
              <div class="col-md-1">
                <p class="navbutton"><a class="btn btn-lg" href="/index" role="button">About &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <p class="navbutton"><a class="btn btn-lg" href="/calc" role="button">Pokemon Go Evolution Calculator &raquo;</a></p>
              </div>
              <div class="col-md-2">
                <p class="navbutton"><a class="btn btn-lg" href="/contact" role="button">Contact &raquo;</a></p>
              </div>
              <div class="col-md-2">
                <p class="navbutton"><a class="btn btn-lg" href="/gbindex" role="button">Guestbook &raquo;</a></p>
              </div>
        </div>
      </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Contact Me</h2><br><br>
                    <p class="formtext">First Name</p>
                    <input type="text"><br><br>
                    <p class="formtext">Last Name</p>
                    <input type="text"><br><br>
                    <p class="formtext">Message</p>
                    <input type="text"><br><br>
                    <input type="submit" id="formbutton">
                </div>
                <div class="col-md-6">
                    <h2><a href="https://github.com/dylaneckstein">GitHub</a></h2><br>
                    <h2><a href="https://bitbucket.org/dylaneckstein/">BitBucket</a></h2><br>
                    <h2><a href="https://www.linkedin.com/in/dylan-eckstein-4465a4b3/">LinkedIn</a></h2><br>
                </div>
            </div>
        </div>
    </div>
      <hr>
      <footer>
        <p>&copy; Dylan Eckstein 2018</p>
      </footer>
 <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>