<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Assignment 3 Eckstein</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel= stylesheet href="/css/guestbook.css">
</head>
<body class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p id="myname">Dylan Eckstein</p>
              </div>
              <div class="col-md-1">
                <p class="navbutton"><a class="btn btn-lg" href="/index" role="button">About &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <p class="navbutton"><a class="btn btn-lg" href="/calc" role="button">Pokemon Go Evolution Calculator &raquo;</a></p>
              </div>
              <div class="col-md-2">
                <p class="navbutton"><a class="btn btn-lg" href="/contact" role="button">Contact &raquo;</a></p>
              </div>
              <div class="col-md-2">
                <p class="navbutton"><a class="btn btn-lg" href="/gbindex" role="button">Guestbook &raquo;</a></p>
              </div>
        </div>
      </div>
    </nav>
    <br><br><br>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
